// off canvas


$navWidth: 340px;

#nav-offcanvas {
    position: fixed; z-index: 1901; width: $navWidth; 
    top: 0; right: 0; top: 0; bottom: 0; 
    padding: 70px 30px 30px; 
    //background: rgba($black, .9); 
    background: $darkGrey; 
    overflow-y: auto;
    //display: none;
    @include translateX($navWidth);
    @include transitionFast;
    .offcanvas & {
        @include translateX(0);
    }
    li.menu-item-has-children {
        > a:after {content:"\f0dd"; 
            //@extend .fas; 
            @include transition; color:$white; margin-left:15px; top:0; position:relative; font-size: 20px;}
        &:hover, &:focus {
            > a:after {content:"\f0de"; top:10px; }
        }
    }

    a {
        text-transform: uppercase;
        font-size: 20px;
        color: $white;
        padding: 0 30px 30px;          
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            width: 100%;
            padding: 15px 0;
            height: auto;
            margin: 0 auto;
            display: block;
            list-style: none;
            text-align: left;
            > ul {
                padding-left: 10px;
                display: none;
                margin-top: 10px;
                li {
                    padding-bottom: 5px;
                    font-size: 14px;
                }
                li i {
                    display: none;
                }
            }
            &.has-sub-menu {
                position: relative;
                > a {
                    display: inline-block;
                    position: relative;
                    margin-right: 30px;
                }
                &:after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    @include fontAwesomeRegular;
                    content: "\f107";
                    font-size: 30px;
                    color: rgba(255,255,255,.2);
                    @include transition(.5s);
                }
                &.active:after {
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                    transform: rotate(-180deg);
                }
            }
        }
    }
}



// Burger Menu
$toggle-width: 25px;
$toggle-lines-height: 3px;
.hamburger-toggle {
    width: $toggle-width;
    height: auto;
    cursor: pointer;
    text-decoration: none;
    &.active i {
        transition-property: none;
        &::after,
        &::before {
            background: $white;
            transition-property: none;
        }
    }
    &:active,
    &:focus,
    &:hover {
        outline: none;
        border-bottom: none!important;
    }
    i {
        position: relative;
        display: inline-block;
        width: $toggle-width;
        height: $toggle-lines-height;
        color: $white;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: $white;
        &::after,
        &::before {
            content: '';
            width: $toggle-width;
            height: $toggle-lines-height;
            background: $white;
            position: absolute;
            left: 0;
        }
    }
    &.fh5co-nav-white {
        > i {
            color: $white;
            background: $white;
            &::after,
            &::before {
                background: $white;
            }
        }
    }
}
.hamburger-toggle i::before {
    top: -($toggle-lines-height + 5);
}
.hamburger-toggle i::after {
    bottom: -($toggle-lines-height + 5);
}
.hamburger-toggle:hover i::before {
    top: -($toggle-lines-height + 7);
}
.hamburger-toggle:hover i::after {
    bottom: -($toggle-lines-height + 7);
}
.hamburger-toggle.active i {
    background: transparent;
}
.hamburger-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.hamburger-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.hamburger-toggle {
    position: fixed;
    left: auto;
    right: 35px;
    top: 53px;
    z-index: 21;
    padding: 6px 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    z-index: 2001;
    border-bottom: none!important;
    transition-property: none;
    //&.active {top: 10px; right: 15px; }
    //@include media-breakpoint-down(md){
    @media (max-width: 991.98px) { 
    }
    //@include media-breakpoint-down(sm){}
    @media (max-width: 767.98px) {
        display: block;
    }
}


